USE [master]
GO
/****** Object:  Database [Enrollmentdb]    Script Date: 09/06/2026 10:54:59 pm ******/
CREATE DATABASE [Enrollmentdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Enrollmentdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Enrollmentdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Enrollmentdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Enrollmentdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Enrollmentdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Enrollmentdb]
GO
/****** Object:  Table [dbo].[TBL_Enrollment]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Enrollment](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SchoolYear] [varchar](20) NOT NULL,
	[Semester] [varchar](10) NOT NULL,
	[EnrollmentStatus] [varchar](20) NULL,
	[Course] [varchar](100) NOT NULL,
	[YearLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Grades]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Grades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SchoolYear] [varchar](20) NOT NULL,
	[Semester] [varchar](10) NOT NULL,
	[Grade] [decimal](5, 2) NULL,
	[Remarks] [varchar](20) NULL,
	[SubjectID] [int] NULL,
	[EnrollmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Payments]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentStatus] [varchar](20) NULL,
	[PaymentDate] [datetime] NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[PaymentMethod] [varchar](30) NULL,
	[Remarks] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RegistrarEligibility]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RegistrarEligibility](
	[EligibilityID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SchoolYear] [varchar](20) NOT NULL,
	[Semester] [varchar](10) NOT NULL,
	[IsGradeCleared] [bit] NULL,
	[IsClearanceCleared] [bit] NULL,
	[IsPaymentCleared] [bit] NULL,
	[GradeMessage] [varchar](500) NULL,
	[ClearanceMessage] [varchar](500) NULL,
	[PaymentMessage] [varchar](500) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EligibilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Student]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentNumber] [varchar](30) NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[Gender] [varchar](10) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[ContactNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Address] [varchar](255) NULL,
	[StudentType] [varchar](20) NOT NULL,
	[Status] [varchar](20) NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_StudentDocuments]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_StudentDocuments](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[DocumentType] [varchar](50) NOT NULL,
	[FilePath] [varchar](255) NOT NULL,
	[IsApproved] [bit] NULL,
	[UploadedDate] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_StudentEnrollmentLocks]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_StudentEnrollmentLocks](
	[LockID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[AdminOverrideGrade] [bit] NULL,
	[AdminOverrideClearance] [bit] NULL,
	[AdminOverridePayment] [bit] NULL,
	[Remarks] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_StudentLogin]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_StudentLogin](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[PasswordHash] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_StudentLogin1]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_StudentLogin1](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_StudentRejections]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_StudentRejections](
	[RejectionID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Reason] [varchar](500) NOT NULL,
	[RejectedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RejectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Subjects]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [varchar](20) NULL,
	[SubjectName] [varchar](150) NULL,
	[Course] [varchar](50) NULL,
	[YearLevel] [int] NULL,
	[Semester] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_UserLogin]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_UserLogin](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_Enrollment] ADD  DEFAULT ('Pending') FOR [EnrollmentStatus]
GO
ALTER TABLE [dbo].[TBL_Payments] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[TBL_Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[TBL_RegistrarEligibility] ADD  DEFAULT ((0)) FOR [IsGradeCleared]
GO
ALTER TABLE [dbo].[TBL_RegistrarEligibility] ADD  DEFAULT ((0)) FOR [IsClearanceCleared]
GO
ALTER TABLE [dbo].[TBL_RegistrarEligibility] ADD  DEFAULT ((0)) FOR [IsPaymentCleared]
GO
ALTER TABLE [dbo].[TBL_RegistrarEligibility] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[TBL_Student] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TBL_Student] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[TBL_StudentDocuments] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[TBL_StudentDocuments] ADD  DEFAULT (getdate()) FOR [UploadedDate]
GO
ALTER TABLE [dbo].[TBL_StudentDocuments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TBL_StudentEnrollmentLocks] ADD  DEFAULT ((0)) FOR [AdminOverrideGrade]
GO
ALTER TABLE [dbo].[TBL_StudentEnrollmentLocks] ADD  DEFAULT ((0)) FOR [AdminOverrideClearance]
GO
ALTER TABLE [dbo].[TBL_StudentEnrollmentLocks] ADD  DEFAULT ((0)) FOR [AdminOverridePayment]
GO
ALTER TABLE [dbo].[TBL_StudentEnrollmentLocks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TBL_StudentRejections] ADD  DEFAULT (getdate()) FOR [RejectedDate]
GO
ALTER TABLE [dbo].[TBL_Enrollment]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_Grades]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Enrollment] FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[TBL_Enrollment] ([EnrollmentID])
GO
ALTER TABLE [dbo].[TBL_Grades] CHECK CONSTRAINT [FK_Grades_Enrollment]
GO
ALTER TABLE [dbo].[TBL_Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[TBL_Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[TBL_Grades] CHECK CONSTRAINT [FK_Grades_Subjects]
GO
ALTER TABLE [dbo].[TBL_Payments]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[TBL_Enrollment] ([EnrollmentID])
GO
ALTER TABLE [dbo].[TBL_RegistrarEligibility]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_StudentDocuments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_StudentEnrollmentLocks]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_StudentLogin]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_StudentLogin1]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
ALTER TABLE [dbo].[TBL_StudentRejections]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[TBL_Student] ([StudentID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AdminPendingEnrollments]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 4/29/26
-- Description:	For admin side 
-- =============================================
CREATE PROCEDURE [dbo].[SP_AdminPendingEnrollments]
 @ActionType VARCHAR(20),  -- GETPENDING, APPROVE, REJECT
    @EnrollmentID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- GET ALL ENROLLMENTS
    IF @ActionType = 'GETALL'
    BEGIN
        SELECT 
            e.EnrollmentID,
            e.StudentID,
            e.Course,
            e.YearLevel,           -- ADD THIS
            e.SchoolYear,
            e.Semester,
            e.EnrollmentStatus,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            s.MiddleName
        FROM TBL_Enrollment e
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        ORDER BY e.EnrollmentID DESC
    END

    -- GET PENDING ENROLLMENTS
    IF @ActionType = 'GETPENDING'
    BEGIN
        SELECT 
            e.EnrollmentID,
            e.StudentID,
            e.Course,
            e.YearLevel,           -- ADD THIS
            e.SchoolYear,
            e.Semester,
            e.EnrollmentStatus,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            s.MiddleName
        FROM TBL_Enrollment e
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE e.EnrollmentStatus = 'Pending'
        ORDER BY e.EnrollmentID DESC
    END

    -- GET APPROVED ENROLLMENTS
    ELSE IF @ActionType = 'GETAPPROVED'
    BEGIN
        SELECT 
            e.EnrollmentID,
            e.StudentID,
            e.Course,
            e.YearLevel,           -- ADD THIS
            e.SchoolYear,
            e.Semester,
            e.EnrollmentStatus,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            s.MiddleName
        FROM TBL_Enrollment e
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE e.EnrollmentStatus = 'Approved'
        ORDER BY e.EnrollmentID DESC
    END

    -- APPROVE ENROLLMENT
    ELSE IF @ActionType = 'APPROVE'
    BEGIN
        UPDATE TBL_Enrollment 
        SET EnrollmentStatus = 'Approved'
        WHERE EnrollmentID = @EnrollmentID
        
        SELECT 
            e.EnrollmentID,
            e.StudentID,
            e.Course,
            e.YearLevel,           -- ADD THIS
            e.SchoolYear,
            e.Semester,
            e.EnrollmentStatus,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            s.MiddleName
        FROM TBL_Enrollment e
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE e.EnrollmentID = @EnrollmentID
    END

    -- REJECT ENROLLMENT
    ELSE IF @ActionType = 'REJECT'
    BEGIN
        UPDATE TBL_Enrollment 
        SET EnrollmentStatus = 'Rejected'
        WHERE EnrollmentID = @EnrollmentID
        
        SELECT 
            e.EnrollmentID,
            e.StudentID,
            e.Course,
            e.YearLevel,           -- ADD THIS
            e.SchoolYear,
            e.Semester,
            e.EnrollmentStatus,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            s.MiddleName
        FROM TBL_Enrollment e
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE e.EnrollmentID = @EnrollmentID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckStudentEnrollmentEligibility]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MArlota
-- Create date: 5/3/26
-- Description:	Eligibility
-- =============================================
CREATE PROCEDURE [dbo].[SP_CheckStudentEnrollmentEligibility]
 @StudentNumber VARCHAR(30),
    @SchoolYear VARCHAR(20),
    @Semester VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StudentID INT;
    DECLARE @HasLockGrades BIT = 1;
    DECLARE @HasLockClearance BIT = 1;
    DECLARE @HasLockPayment BIT = 1;
    DECLARE @Message NVARCHAR(500) = '';
    
    -- Get Student ID
    SELECT @StudentID = StudentID FROM TBL_Student WHERE StudentNumber = @StudentNumber;
    
    IF @StudentID IS NULL
    BEGIN
        SELECT 
            0 AS IsEligible, 
            'Student not found' AS Message, 
            NULL AS StudentID, 
            NULL AS StudentNumber, 
            NULL AS FullName, 
            1 AS HasLockGrades, 
            1 AS HasLockClearance, 
            1 AS HasLockPayment, 
            0 AS OutstandingBalance, 
            0 AS FailingGradesCount, 
            0 AS PendingDocumentsCount;
        RETURN;
    END
    
    -- Get eligibility for the specific SchoolYear and Semester
    SELECT 
        @HasLockGrades = CASE WHEN IsGradeCleared = 0 THEN 1 ELSE 0 END,
        @HasLockClearance = CASE WHEN IsClearanceCleared = 0 THEN 1 ELSE 0 END,
        @HasLockPayment = CASE WHEN IsPaymentCleared = 0 THEN 1 ELSE 0 END
    FROM TBL_RegistrarEligibility 
    WHERE StudentID = @StudentID 
        AND SchoolYear = @SchoolYear 
        AND Semester = @Semester
    
    IF @HasLockGrades IS NULL SET @HasLockGrades = 1;
    IF @HasLockClearance IS NULL SET @HasLockClearance = 1;
    IF @HasLockPayment IS NULL SET @HasLockPayment = 1;
    
    DECLARE @IsEligible BIT = 0;
    IF @HasLockGrades = 0 AND @HasLockClearance = 0 AND @HasLockPayment = 0
    BEGIN
        SET @IsEligible = 1;
        SET @Message = 'Congratulations! You are eligible to enroll for ' + @Semester + ', School Year ' + @SchoolYear + '.';
    END
    ELSE
    BEGIN
        SET @Message = 'You are not eligible to enroll for ' + @Semester + ', School Year ' + @SchoolYear + '.\n\nPlease see the registrar for the following:\n' +
            CASE WHEN @HasLockGrades = 1 THEN '• Grade clearance not approved\n' ELSE '' END +
            CASE WHEN @HasLockClearance = 1 THEN '• Clearance not approved\n' ELSE '' END +
            CASE WHEN @HasLockPayment = 1 THEN '• Payment clearance not approved\n' ELSE '' END;
    END
    
    SELECT 
        @IsEligible AS IsEligible,
        @Message AS Message,
        s.StudentID,
        s.StudentNumber,
        s.FirstName + ' ' + s.LastName AS FullName,
        @HasLockGrades AS HasLockGrades,
        @HasLockClearance AS HasLockClearance,
        @HasLockPayment AS HasLockPayment,
        0 AS OutstandingBalance,
        0 AS FailingGradesCount,
        0 AS PendingDocumentsCount
    FROM TBL_Student s
    WHERE s.StudentID = @StudentID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOCUMENTS_WITH_STUDENTS]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DOCUMENTS_WITH_STUDENTS]
    @ActionType VARCHAR(20),  
    @DocumentID INT = NULL,
    @StudentID INT = NULL,
    @SearchTerm VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @ActionType = 'GETALL'
BEGIN
    SELECT 
        d.DocumentID,
        d.StudentID,
        d.DocumentType,
        d.FilePath,
        d.IsApproved,
        d.UploadedDate,
        d.Status,
        s.StudentNumber,
        s.FirstName,
        s.LastName,
        e.Course,
        e.YearLevel,
        e.SchoolYear,
        e.Semester
    FROM TBL_StudentDocuments d
    INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
    LEFT JOIN TBL_Enrollment e ON s.StudentID = e.StudentID
    WHERE (@SearchTerm IS NULL 
           OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
           OR s.FirstName LIKE '%' + @SearchTerm + '%'
           OR s.LastName LIKE '%' + @SearchTerm + '%'
           OR CAST(s.StudentID AS VARCHAR) LIKE '%' + @SearchTerm + '%')
    ORDER BY d.UploadedDate DESC
END

    -- GET PENDING DOCUMENTS
    ELSE IF @ActionType = 'GETPENDING'
    BEGIN
        SELECT 
            d.DocumentID,
            d.StudentID,
            d.DocumentType,
            d.FilePath,
            d.IsApproved,
            d.UploadedDate,
            d.Status,
            s.StudentNumber,
            s.FirstName,
            s.LastName
        FROM TBL_StudentDocuments d
        INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
        WHERE d.Status = 'Pending'
        AND (@SearchTerm IS NULL 
               OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
               OR s.FirstName LIKE '%' + @SearchTerm + '%'
               OR s.LastName LIKE '%' + @SearchTerm + '%'
               OR CAST(s.StudentID AS VARCHAR) LIKE '%' + @SearchTerm + '%')
        ORDER BY d.UploadedDate DESC
    END

    -- GET APPROVED DOCUMENTS
    ELSE IF @ActionType = 'GETAPPROVED'
    BEGIN
        SELECT 
            d.DocumentID,
            d.StudentID,
            d.DocumentType,
            d.FilePath,
            d.IsApproved,
            d.UploadedDate,
            d.Status,
            s.StudentNumber,
            s.FirstName,
            s.LastName
        FROM TBL_StudentDocuments d
        INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
        WHERE d.Status = 'Approved'
        AND (@SearchTerm IS NULL 
               OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
               OR s.FirstName LIKE '%' + @SearchTerm + '%'
               OR s.LastName LIKE '%' + @SearchTerm + '%'
               OR CAST(s.StudentID AS VARCHAR) LIKE '%' + @SearchTerm + '%')
        ORDER BY d.UploadedDate DESC
    END

    -- GET DOCUMENTS BY STUDENT ID
    ELSE IF @ActionType = 'GETBYSTUDENT'
    BEGIN
        SELECT 
            d.DocumentID,
            d.StudentID,
            d.DocumentType,
            d.FilePath,
            d.IsApproved,
            d.UploadedDate,
            d.Status,
            s.StudentNumber,
            s.FirstName,
            s.LastName
        FROM TBL_StudentDocuments d
        INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
        WHERE d.StudentID = @StudentID
        ORDER BY d.UploadedDate DESC
    END

    -- GET DOCUMENT BY ID
    ELSE IF @ActionType = 'GETBYID'
    BEGIN
        SELECT 
            d.DocumentID,
            d.StudentID,
            d.DocumentType,
            d.FilePath,
            d.IsApproved,
            d.UploadedDate,
            d.Status,
            s.StudentNumber,
            s.FirstName,
            s.LastName
        FROM TBL_StudentDocuments d
        INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
        WHERE d.DocumentID = @DocumentID
    END

    -- APPROVE DOCUMENT (UPDATES Status and IsApproved)
    ELSE IF @ActionType = 'APPROVE'
    BEGIN
        UPDATE TBL_StudentDocuments 
        SET IsApproved = 1,
            Status = 'Approved'
        WHERE DocumentID = @DocumentID
        
        SELECT 
            d.DocumentID,
            d.StudentID,
            d.DocumentType,
            d.FilePath,
            d.IsApproved,
            d.UploadedDate,
            d.Status,
            s.StudentNumber,
            s.FirstName,
            s.LastName
        FROM TBL_StudentDocuments d
        INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
        WHERE d.DocumentID = @DocumentID
    END

    -- REJECT DOCUMENT (UPDATES Status, keeps record)
    ELSE IF @ActionType = 'REJECT'
    BEGIN
        UPDATE TBL_StudentDocuments 
        SET IsApproved = 0,
            Status = 'Rejected'
        WHERE DocumentID = @DocumentID
        
        SELECT 
            d.DocumentID,
            d.StudentID,
            d.DocumentType,
            d.FilePath,
            d.IsApproved,
            d.UploadedDate,
            d.Status,
            s.StudentNumber,
            s.FirstName,
            s.LastName
        FROM TBL_StudentDocuments d
        INNER JOIN TBL_Student s ON d.StudentID = s.StudentID
        WHERE d.DocumentID = @DocumentID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ENROLLMENT]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon Villarin
-- Create date: 3/31/26
-- Description:	For Enrollment
-- =============================================
CREATE PROCEDURE [dbo].[SP_ENROLLMENT]
 @EnrollmentID INT = NULL,
    @StudentID INT = NULL,
    @Course VARCHAR(100) = NULL,
    @YearLevel INT = NULL,
    @SchoolYear VARCHAR(20) = NULL,
    @Semester VARCHAR(10) = NULL,
    @EnrollmentStatus VARCHAR(20) = NULL,
    @StatementType VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @StatementType = 'INSERT'
    BEGIN
        INSERT INTO TBL_Enrollment
        (StudentID, Course, YearLevel, SchoolYear, Semester, EnrollmentStatus)
        VALUES (@StudentID, @Course, @YearLevel, @SchoolYear, @Semester, 'Pending');

        DECLARE @NewEnrollmentID INT = SCOPE_IDENTITY();

        INSERT INTO TBL_Grades
        (StudentID, EnrollmentID, SubjectID, SchoolYear, Semester, Grade, Remarks)
        SELECT @StudentID, @NewEnrollmentID, s.SubjectID, @SchoolYear, @Semester, NULL, NULL
        FROM TBL_Subjects s
        WHERE s.Course = @Course AND s.YearLevel = @YearLevel AND s.Semester = @Semester;

        -- ✅ AUTO-RESET ELIGIBILITY FOR NEW ENROLLMENT
        IF EXISTS (SELECT 1 FROM TBL_RegistrarEligibility 
                   WHERE StudentID = @StudentID AND SchoolYear = @SchoolYear AND Semester = @Semester)
        BEGIN
            UPDATE TBL_RegistrarEligibility 
            SET IsGradeCleared = 0,
                IsClearanceCleared = 0,
                IsPaymentCleared = 0,
                UpdatedDate = GETDATE()
            WHERE StudentID = @StudentID AND SchoolYear = @SchoolYear AND Semester = @Semester
        END
        ELSE
        BEGIN
            INSERT INTO TBL_RegistrarEligibility 
            (StudentID, SchoolYear, Semester, IsGradeCleared, IsClearanceCleared, IsPaymentCleared, UpdatedBy, UpdatedDate)
            VALUES (@StudentID, @SchoolYear, @Semester, 0, 0, 0, 1, GETDATE())
        END

        SELECT @NewEnrollmentID AS EnrollmentID;
    END

    ELSE IF @StatementType = 'UPDATE'
    BEGIN
        DECLARE @OldSchoolYear VARCHAR(20), @OldSemester VARCHAR(10);
        SELECT @OldSchoolYear = SchoolYear, @OldSemester = Semester 
        FROM TBL_Enrollment WHERE EnrollmentID = @EnrollmentID;

        UPDATE TBL_Enrollment
        SET Course = @Course,
            YearLevel = @YearLevel,
            SchoolYear = @SchoolYear,
            Semester = @Semester,
            EnrollmentStatus = @EnrollmentStatus
        WHERE EnrollmentID = @EnrollmentID;

        DELETE FROM TBL_Grades WHERE EnrollmentID = @EnrollmentID;
        
        INSERT INTO TBL_Grades (StudentID, EnrollmentID, SubjectID, SchoolYear, Semester, Grade, Remarks)
        SELECT @StudentID, @EnrollmentID, s.SubjectID, @SchoolYear, @Semester, NULL, NULL
        FROM TBL_Subjects s
        WHERE s.Course = @Course AND s.YearLevel = @YearLevel AND s.Semester = @Semester;

        -- ✅ AUTO-RESET ELIGIBILITY ONLY IF SEMESTER/YEAR CHANGED
        IF (@OldSchoolYear != @SchoolYear OR @OldSemester != @Semester)
        BEGIN
            IF EXISTS (SELECT 1 FROM TBL_RegistrarEligibility 
                       WHERE StudentID = @StudentID AND SchoolYear = @SchoolYear AND Semester = @Semester)
            BEGIN
                UPDATE TBL_RegistrarEligibility 
                SET IsGradeCleared = 0,
                    IsClearanceCleared = 0,
                    IsPaymentCleared = 0,
                    UpdatedDate = GETDATE()
                WHERE StudentID = @StudentID AND SchoolYear = @SchoolYear AND Semester = @Semester
            END
            ELSE
            BEGIN
                INSERT INTO TBL_RegistrarEligibility 
                (StudentID, SchoolYear, Semester, IsGradeCleared, IsClearanceCleared, IsPaymentCleared, UpdatedBy, UpdatedDate)
                VALUES (@StudentID, @SchoolYear, @Semester, 0, 0, 0, 1, GETDATE())
            END
        END

        SELECT @EnrollmentID AS EnrollmentID;
    END

    ELSE IF @StatementType = 'UPDATESTATUS'
    BEGIN
        UPDATE TBL_Enrollment
        SET EnrollmentStatus = @EnrollmentStatus
        WHERE EnrollmentID = @EnrollmentID;
        SELECT @EnrollmentID AS EnrollmentID;
    END

    ELSE IF @StatementType = 'GETBYSTUDENT'
    BEGIN
        SELECT * FROM TBL_Enrollment WHERE StudentID = @StudentID ORDER BY EnrollmentID DESC;
    END

    ELSE IF @StatementType = 'GETALL'
    BEGIN
        SELECT * FROM TBL_Enrollment;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ENROLLMENT_GETUSERLOGIN]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon Villairn
-- Create date: 2/21/26
-- Description:	log in
-- =============================================
CREATE PROCEDURE [dbo].[SP_ENROLLMENT_GETUSERLOGIN] 
    @Username NVARCHAR(30),
    @PasswordHash NVARCHAR(50),
    @StatementType NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@StatementType = 'GETLOGIN')
    BEGIN
        SELECT
            LoginID,
            StudentID,
            Username,
            PasswordHash
        FROM [dbo].[TBL_StudentLogin]
        WHERE Username = @Username;
    END
    ELSE
    BEGIN
        PRINT 'Invalid StatementType provided.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ENROLLMENT_REGISTERUSER]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        Marlon Villairn
-- Create date:   2026-02-27
-- Description:   Registers a new user.
-- =============================================
CREATE PROCEDURE [dbo].[SP_ENROLLMENT_REGISTERUSER]
    @Username NVARCHAR(30),
    @PasswordHash NVARCHAR(50),
    @StudentID INT,  
    @UserID INT OUTPUT  
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if the username already exists
        IF EXISTS (SELECT 1 FROM [dbo].[TBL_StudentLogin] WHERE Username = @Username)
        BEGIN
            -- Raise an error to indicate a duplicate username
            RAISERROR('Username already exists', 16, 1)
            RETURN
        END

        -- Insert the new user, including StudentID
        INSERT INTO [dbo].[TBL_StudentLogin] (Username, PasswordHash, StudentID)
        VALUES (@Username, @PasswordHash, @StudentID);

        -- Return the new user's ID
        SET @UserID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        -- Handle errors
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Re-throw the error
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_STUDENT_ACCOUNTS]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 5/1/26
-- Description:	get all student account
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_ALL_STUDENT_ACCOUNTS]
	  @SearchTerm VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        sl.LoginID,
        sl.StudentID,
        sl.Username,
        sl.PasswordHash AS Password,
        s.StudentNumber,
        s.FirstName,
        s.LastName,
        s.Email,
        s.Status AS StudentStatus
    FROM TBL_StudentLogin sl
    INNER JOIN TBL_Student s ON sl.StudentID = s.StudentID
    WHERE (@SearchTerm IS NULL 
           OR sl.StudentID LIKE '%' + @SearchTerm + '%'
           OR sl.Username LIKE '%' + @SearchTerm + '%'
           OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
           OR s.FirstName LIKE '%' + @SearchTerm + '%'
           OR s.LastName LIKE '%' + @SearchTerm + '%')
    ORDER BY sl.LoginID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_STUDENTS_WITH_STATUS]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlota
-- Create date: 5/7/26
-- Description:	all status
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_ALL_STUDENTS_WITH_STATUS]
@SearchTerm VARCHAR(100) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @StudentStatusFilter VARCHAR(50) = NULL,
    @EnrollmentStatusFilter VARCHAR(50) = NULL,
    @PaymentStatusFilter VARCHAR(50) = NULL,
    @DocumentStatusFilter VARCHAR(50) = NULL,
    @CourseFilter VARCHAR(100) = NULL,
    @YearLevelFilter VARCHAR(10) = NULL,
    @StudentTypeFilter VARCHAR(20) = NULL,
    @OverallStatusFilter VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT DISTINCT
        s.StudentID,
        s.StudentNumber,
        s.FirstName,
        s.LastName,
        s.MiddleName,
        s.Email,
        s.ContactNumber,
        s.StudentType,
        s.Status AS StudentStatus,
        e.Course,
        e.YearLevel,
        e.Semester,
        e.SchoolYear,
        
        -- Enrollment Status
        CASE 
            WHEN e.EnrollmentStatus IN ('Approved', 'Enrolled') THEN 'Enrolled'
            WHEN e.EnrollmentStatus = 'Pending' THEN 'Pending'
            WHEN e.EnrollmentStatus = 'Rejected' THEN 'Rejected'
            ELSE 'Pending'
        END AS EnrollmentStatus,
        
        -- Document Status
        CASE 
            WHEN doc.RejectedCount > 0 THEN 'Rejected'
            WHEN doc.ApprovedCount > 0 AND doc.TotalCount = doc.ApprovedCount THEN 'Approved'
            WHEN doc.TotalCount > 0 THEN 'Pending'
            ELSE 'No Documents'
        END AS DocumentStatus,
        
        -- Payment Status - FIXED SUBQUERY
        ISNULL(pay.PaymentStatus, 'No Payment') AS PaymentStatus,
        
        -- Overall Status
        CASE 
            WHEN s.Status = 'Approved' 
                AND (doc.RejectedCount IS NULL OR doc.RejectedCount = 0)
                AND (doc.TotalCount > 0 AND doc.TotalCount = doc.ApprovedCount)
                AND e.EnrollmentStatus IN ('Approved', 'Enrolled')
                AND pay.PaymentStatus = 'Approved'
            THEN 'Enrolled'
            WHEN s.Status = 'Rejected' OR doc.RejectedCount > 0 OR pay.PaymentStatus = 'Rejected' THEN 'Rejected'
            ELSE 'Pending'
        END AS OverallStatus,
        
        COUNT(*) OVER() AS TotalCount
        
    FROM TBL_Student s
    INNER JOIN TBL_Enrollment e ON s.StudentID = e.StudentID
    LEFT JOIN (
        SELECT 
            StudentID,
            COUNT(*) AS TotalCount,
            SUM(CASE WHEN IsApproved = 1 THEN 1 ELSE 0 END) AS ApprovedCount,
            SUM(CASE WHEN Status = 'Rejected' THEN 1 ELSE 0 END) AS RejectedCount
        FROM TBL_StudentDocuments
        GROUP BY StudentID
    ) doc ON s.StudentID = doc.StudentID
    LEFT JOIN (
        SELECT 
            e.StudentID,
            p.PaymentStatus,
            ROW_NUMBER() OVER (PARTITION BY e.StudentID ORDER BY p.PaymentID DESC) as rn
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
    ) pay ON s.StudentID = pay.StudentID AND pay.rn = 1
    WHERE 1=1
        AND (@SearchTerm IS NULL OR 
             s.StudentNumber LIKE '%' + @SearchTerm + '%' OR
             s.FirstName LIKE '%' + @SearchTerm + '%' OR
             s.LastName LIKE '%' + @SearchTerm + '%' OR
             CAST(s.StudentID AS VARCHAR) LIKE '%' + @SearchTerm + '%')
        AND (@StudentStatusFilter IS NULL OR s.Status = @StudentStatusFilter)
        AND (@EnrollmentStatusFilter IS NULL OR 
             (@EnrollmentStatusFilter = 'Enrolled' AND e.EnrollmentStatus IN ('Approved', 'Enrolled')) OR
             (@EnrollmentStatusFilter = 'Pending' AND e.EnrollmentStatus = 'Pending') OR
             (@EnrollmentStatusFilter = 'Rejected' AND e.EnrollmentStatus = 'Rejected'))
        AND (@PaymentStatusFilter IS NULL OR pay.PaymentStatus = @PaymentStatusFilter)
        AND (@DocumentStatusFilter IS NULL OR 
             (@DocumentStatusFilter = 'Approved' AND doc.ApprovedCount > 0 AND doc.TotalCount = doc.ApprovedCount) OR
             (@DocumentStatusFilter = 'Pending' AND doc.TotalCount > 0 AND doc.ApprovedCount < doc.TotalCount AND (doc.RejectedCount IS NULL OR doc.RejectedCount = 0)) OR
             (@DocumentStatusFilter = 'Rejected' AND doc.RejectedCount > 0) OR
             (@DocumentStatusFilter = 'No Documents' AND doc.TotalCount = 0))
        AND (@CourseFilter IS NULL OR e.Course = @CourseFilter)
        AND (@YearLevelFilter IS NULL OR CAST(e.YearLevel AS VARCHAR) = @YearLevelFilter)
        AND (@StudentTypeFilter IS NULL OR s.StudentType = @StudentTypeFilter)
        AND (@OverallStatusFilter IS NULL OR 
             (@OverallStatusFilter = 'Enrolled' AND 
              s.Status = 'Approved' AND 
              (doc.RejectedCount IS NULL OR doc.RejectedCount = 0) AND
              (doc.TotalCount > 0 AND doc.TotalCount = doc.ApprovedCount) AND
              e.EnrollmentStatus IN ('Approved', 'Enrolled') AND
              pay.PaymentStatus = 'Approved') OR
             (@OverallStatusFilter = 'Rejected' AND 
              (s.Status = 'Rejected' OR doc.RejectedCount > 0 OR pay.PaymentStatus = 'Rejected')) OR
             (@OverallStatusFilter = 'Pending' AND 
              NOT (s.Status = 'Approved' AND 
                   (doc.RejectedCount IS NULL OR doc.RejectedCount = 0) AND
                   (doc.TotalCount > 0 AND doc.TotalCount = doc.ApprovedCount) AND
                   e.EnrollmentStatus IN ('Approved', 'Enrolled') AND
                   pay.PaymentStatus = 'Approved') AND
              NOT (s.Status = 'Rejected' OR doc.RejectedCount > 0 OR pay.PaymentStatus = 'Rejected')))
    ORDER BY s.StudentID DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllApprovedStudents]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 03/4/26
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_GetAllApprovedStudents]
	 @SearchTerm VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DISTINCT
        s.StudentID,
        s.StudentNumber,
        s.FirstName,
        s.LastName,
        s.MiddleName,
        s.Email,
        s.ContactNumber,
        s.Status AS StudentStatus,
        s.StudentType,
        e.Course,
        e.YearLevel,
        e.Semester,
        e.SchoolYear,
        e.EnrollmentStatus,
        (SELECT COUNT(*) FROM TBL_StudentDocuments WHERE StudentID = s.StudentID) AS TotalDocuments,
        (SELECT COUNT(*) FROM TBL_StudentDocuments WHERE StudentID = s.StudentID AND IsApproved = 1) AS ApprovedDocuments,
        (SELECT COUNT(*) FROM TBL_StudentDocuments WHERE StudentID = s.StudentID AND IsApproved = 0) AS PendingDocuments,
        ISNULL((SELECT SUM(Amount) FROM TBL_Payments p 
                INNER JOIN TBL_Enrollment en ON p.EnrollmentID = en.EnrollmentID 
                WHERE en.StudentID = s.StudentID), 0) AS TotalAmount,
        ISNULL((SELECT SUM(Amount) FROM TBL_Payments p 
                INNER JOIN TBL_Enrollment en ON p.EnrollmentID = en.EnrollmentID 
                WHERE en.StudentID = s.StudentID AND p.PaymentStatus = 'Approved'), 0) AS PaidAmount
    FROM TBL_Student s
    INNER JOIN TBL_Enrollment e ON s.StudentID = e.StudentID
    WHERE s.Status = 'Approved'
    AND e.EnrollmentStatus = 'Approved'
    AND (@SearchTerm IS NULL 
         OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
         OR s.FirstName LIKE '%' + @SearchTerm + '%'
         OR s.LastName LIKE '%' + @SearchTerm + '%'
         OR CAST(s.StudentID AS VARCHAR) LIKE '%' + @SearchTerm + '%'
         OR s.Email LIKE '%' + @SearchTerm + '%')
    ORDER BY s.LastName, s.FirstName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentProfile]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 2/26/26
-- Description:	getting profile
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetStudentProfile]
    @StudentID INT
AS
BEGIN
    -- Check if the StudentID exists
    IF EXISTS (SELECT 1 FROM [dbo].[TBL_Student] WHERE StudentID = @StudentID)
    BEGIN
        -- Select the student profile
        SELECT
            StudentID,
            StudentNumber,
            FirstName,
            LastName,
            MiddleName,
            Gender,
            BirthDate,
            ContactNumber,
            Email,
            Address,
            StudentType,
            Status,
            DateCreated
        FROM
            [dbo].[TBL_Student]
        WHERE
            StudentID = @StudentID;
    END
    ELSE
    BEGIN
        -- Raise an error if the StudentID does not exist
        RAISERROR('Student not found', 16, 1);
        RETURN;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentsForRegistrar]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon 
-- Create date: 5/3/26
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetStudentsForRegistrar]
    @SchoolYear VARCHAR(20),
    @Semester VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        s.StudentID,
        s.StudentNumber,
        s.FirstName + ' ' + s.LastName AS FullName,
        e.Course,
        e.YearLevel,
        e.Semester,
        e.SchoolYear,
        
        -- Get existing eligibility (default to 0 if no record)
        ISNULL(r.IsGradeCleared, 0) AS IsGradeCleared,
        ISNULL(r.IsClearanceCleared, 0) AS IsClearanceCleared,
        ISNULL(r.IsPaymentCleared, 0) AS IsPaymentCleared,
        r.GradeMessage,
        r.ClearanceMessage,
        r.PaymentMessage
        
    FROM TBL_Enrollment e
    INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
    LEFT JOIN TBL_RegistrarEligibility r ON s.StudentID = r.StudentID 
        AND r.SchoolYear = e.SchoolYear AND r.Semester = e.Semester
    WHERE e.SchoolYear = @SchoolYear AND e.Semester = @Semester
    ORDER BY s.LastName, s.FirstName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTSTUDENT]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 3/2/26
-- Description: Insert Student
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERTSTUDENT]
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @MiddleName VARCHAR(50) = NULL,
    @Gender VARCHAR(10),
    @BirthDate DATE,
    @ContactNumber VARCHAR(20) = NULL,
    @Email VARCHAR(100) = NULL,
    @Address VARCHAR(255) = NULL,
    @StudentType VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    DECLARE @NextNumber INT;
    SELECT @NextNumber = ISNULL(MAX(CAST(SUBSTRING(StudentNumber, 4, 4) AS INT)), 0) + 1
    FROM TBL_Student
    WHERE StudentNumber LIKE 'C26-%-MAN001'; -- Adjust the WHERE clause as needed

    DECLARE @StudentNumber VARCHAR(30);
    SET @StudentNumber = 'C26-' + RIGHT('0000' + CAST(@NextNumber AS VARCHAR(4)), 4) + '-MAN001';

    INSERT INTO TBL_Student (StudentNumber, FirstName, LastName, MiddleName, Gender, BirthDate, ContactNumber, Email, Address, StudentType, Status)
    VALUES (@StudentNumber, @FirstName, @LastName, @MiddleName, @Gender, @BirthDate, @ContactNumber, @Email, @Address, @StudentType, 'Pending');

    SELECT SCOPE_IDENTITY();
   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTSTUDENT_DOCUMENT]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 3/31/26
-- Description:	GetDocuments
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERTSTUDENT_DOCUMENT]
	 @StudentID INT,
    @DocumentType VARCHAR(50),
    @FilePath VARCHAR(255),
     @StatementType VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @StatementType = 'INSERT'
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM TBL_StudentDocuments
            WHERE StudentID = @StudentID
            AND DocumentType = @DocumentType
        )
        BEGIN
            UPDATE TBL_StudentDocuments
            SET FilePath = @FilePath,
                UploadedDate = GETDATE(),
                IsApproved = 0
            WHERE StudentID = @StudentID
            AND DocumentType = @DocumentType;

            SELECT DocumentID
            FROM TBL_StudentDocuments
            WHERE StudentID = @StudentID
            AND DocumentType = @DocumentType;
        END
        ELSE
        BEGIN
            INSERT INTO TBL_StudentDocuments
            (
                StudentID,
                DocumentType,
                FilePath,
                UploadedDate,
                IsApproved
            )
            VALUES
            (
                @StudentID,
                @DocumentType,
                @FilePath,
                GETDATE(),
                0
            );

            SELECT SCOPE_IDENTITY() AS DocumentID;
        END
    END

    ELSE IF @StatementType = 'GETALL'
    BEGIN
        SELECT * FROM TBL_StudentDocuments;
    END

    ELSE IF @StatementType = 'GETBYSTUDENT'
    BEGIN
        SELECT * 
        FROM TBL_StudentDocuments
        WHERE StudentID = @StudentID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PAYMENTS]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PAYMENTS] 
    @PaymentID INT = NULL,
    @EnrollmentID INT = NULL,
    @Amount DECIMAL(10,2) = NULL,
    @PaymentStatus VARCHAR(20) = NULL,
    @StatementType VARCHAR(50),
    @SearchTerm VARCHAR(100) = NULL,
    @ReferenceNumber VARCHAR(50) = NULL,
    @PaymentMethod VARCHAR(30) = NULL,
    @Remarks VARCHAR(500) = NULL
AS
BEGIN
       SET NOCOUNT ON;

    -- CREATE NEW PAYMENT (with GCash details)
    IF @StatementType = 'INSERT'
    BEGIN
        INSERT INTO TBL_Payments (
            EnrollmentID, 
            Amount, 
            PaymentStatus,
            ReferenceNumber,
            PaymentMethod,
            Remarks,
            PaymentDate
        )
        VALUES (
            @EnrollmentID, 
            @Amount, 
            'Pending',
            @ReferenceNumber,
            @PaymentMethod,
            @Remarks,
            GETDATE()
        );

        SELECT SCOPE_IDENTITY() AS PaymentID;
    END

    -- APPROVE PAYMENT
    ELSE IF @StatementType = 'APPROVE'
    BEGIN
        UPDATE TBL_Payments 
        SET PaymentStatus = 'Approved'
        WHERE PaymentID = @PaymentID
        
        UPDATE TBL_Enrollment 
        SET EnrollmentStatus = 'Enrolled'
        WHERE EnrollmentID = (SELECT EnrollmentID FROM TBL_Payments WHERE PaymentID = @PaymentID)
        
        SELECT 
            p.PaymentID,
            p.EnrollmentID,
            p.Amount,
            p.PaymentStatus,
            p.PaymentDate,
            p.ReferenceNumber,
            p.PaymentMethod,
            p.Remarks,
            e.StudentID,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            e.Course,
            e.YearLevel,        -- ADD THIS
            e.SchoolYear,
            e.Semester
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE p.PaymentID = @PaymentID
    END

    -- REJECT PAYMENT
    ELSE IF @StatementType = 'REJECT'
    BEGIN
        UPDATE TBL_Payments 
        SET PaymentStatus = 'Rejected'
        WHERE PaymentID = @PaymentID
        
        SELECT 
            p.PaymentID,
            p.EnrollmentID,
            p.Amount,
            p.PaymentStatus,
            p.PaymentDate,
            p.ReferenceNumber,
            p.PaymentMethod,
            p.Remarks,
            e.StudentID,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            e.Course,
            e.YearLevel,        -- ADD THIS
            e.SchoolYear,
            e.Semester
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE p.PaymentID = @PaymentID
    END

    -- GET PENDING PAYMENTS
    ELSE IF @StatementType = 'GETPENDING'
    BEGIN
        SELECT 
            p.PaymentID,
            p.EnrollmentID,
            p.Amount,
            p.PaymentStatus,
            p.PaymentDate,
            p.ReferenceNumber,
            p.PaymentMethod,
            p.Remarks,
            e.StudentID,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            e.Course,
            e.YearLevel,        -- ADD THIS
            e.SchoolYear,
            e.Semester
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE p.PaymentStatus = 'Pending'
        AND (@SearchTerm IS NULL 
               OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
               OR s.FirstName LIKE '%' + @SearchTerm + '%'
               OR s.LastName LIKE '%' + @SearchTerm + '%'
               OR p.ReferenceNumber LIKE '%' + @SearchTerm + '%')
        ORDER BY p.PaymentDate DESC
    END

    -- GET ALL PAYMENTS
    ELSE IF @StatementType = 'GETALL'
    BEGIN
        SELECT 
            p.PaymentID,
            p.EnrollmentID,
            p.Amount,
            p.PaymentStatus,
            p.PaymentDate,
            p.ReferenceNumber,
            p.PaymentMethod,
            p.Remarks,
            e.StudentID,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            e.Course,
            e.YearLevel,        -- ADD THIS
            e.SchoolYear,
            e.Semester
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE (@SearchTerm IS NULL 
               OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
               OR s.FirstName LIKE '%' + @SearchTerm + '%'
               OR s.LastName LIKE '%' + @SearchTerm + '%'
               OR p.ReferenceNumber LIKE '%' + @SearchTerm + '%')
        ORDER BY p.PaymentDate DESC
    END

    -- GET APPROVED PAYMENTS
    ELSE IF @StatementType = 'GETAPPROVED'
    BEGIN
        SELECT 
            p.PaymentID,
            p.EnrollmentID,
            p.Amount,
            p.PaymentStatus,
            p.PaymentDate,
            p.ReferenceNumber,
            p.PaymentMethod,
            p.Remarks,
            e.StudentID,
            s.StudentNumber,
            s.FirstName,
            s.LastName,
            e.Course,
            e.YearLevel,        -- ADD THIS
            e.SchoolYear,
            e.Semester
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
        INNER JOIN TBL_Student s ON e.StudentID = s.StudentID
        WHERE p.PaymentStatus = 'Approved'
        AND (@SearchTerm IS NULL 
               OR s.StudentNumber LIKE '%' + @SearchTerm + '%'
               OR s.FirstName LIKE '%' + @SearchTerm + '%'
               OR s.LastName LIKE '%' + @SearchTerm + '%')
        ORDER BY p.PaymentDate DESC
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveRegistrarEligibility]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon 
-- Create date: 5/3/26
-- Description:	For eligibility
-- =============================================
CREATE PROCEDURE [dbo].[SP_SaveRegistrarEligibility]
    @StudentID INT,
    @SchoolYear VARCHAR(20),
    @Semester VARCHAR(10),
    @IsGradeCleared BIT,
    @IsClearanceCleared BIT,
    @IsPaymentCleared BIT,
    @GradeMessage VARCHAR(500) = NULL,
    @ClearanceMessage VARCHAR(500) = NULL,
    @PaymentMessage VARCHAR(500) = NULL,
    @UpdatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS(SELECT 1 FROM TBL_RegistrarEligibility 
              WHERE StudentID = @StudentID AND SchoolYear = @SchoolYear AND Semester = @Semester)
    BEGIN
        UPDATE TBL_RegistrarEligibility 
        SET IsGradeCleared = @IsGradeCleared,
            IsClearanceCleared = @IsClearanceCleared,
            IsPaymentCleared = @IsPaymentCleared,
            GradeMessage = @GradeMessage,
            ClearanceMessage = @ClearanceMessage,
            PaymentMessage = @PaymentMessage,
            UpdatedBy = @UpdatedBy,
            UpdatedDate = GETDATE()
        WHERE StudentID = @StudentID AND SchoolYear = @SchoolYear AND Semester = @Semester
    END
    ELSE
    BEGIN
        INSERT INTO TBL_RegistrarEligibility 
        (StudentID, SchoolYear, Semester, IsGradeCleared, IsClearanceCleared, IsPaymentCleared, 
         GradeMessage, ClearanceMessage, PaymentMessage, UpdatedBy, UpdatedDate)
        VALUES (@StudentID, @SchoolYear, @Semester, @IsGradeCleared, @IsClearanceCleared, @IsPaymentCleared, 
                @GradeMessage, @ClearanceMessage, @PaymentMessage, @UpdatedBy, GETDATE())
    END
    
    SELECT 1 AS Success
END
GO
/****** Object:  StoredProcedure [dbo].[SP_STUDENT]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon Villarin
-- Create date: 2/23/26
-- Description:	Student to Insert/Update/Get
-- =============================================
CREATE PROCEDURE [dbo].[SP_STUDENT]
	@StudentID INT = NULL,
    @FirstName VARCHAR(50) = NULL,
    @LastName VARCHAR(50) = NULL,
    @MiddleName VARCHAR(50) = NULL,
    @Gender VARCHAR(10) = NULL,
    @BirthDate DATE = NULL,
    @ContactNumber VARCHAR(20) = NULL,
    @Email VARCHAR(100) = NULL,
    @Address VARCHAR(255) = NULL,
    @StudentType VARCHAR(20) = NULL,
    @StatementType VARCHAR(50)
AS
BEGIN
	 SET NOCOUNT ON;

    -- Insert new student
    IF @StatementType = 'INSERT'
    BEGIN
        INSERT INTO TBL_Student 
        (FirstName, LastName, MiddleName, Gender, BirthDate, ContactNumber, Email, Address, StudentType)
        VALUES (@FirstName, @LastName, @MiddleName, @Gender, @BirthDate, @ContactNumber, @Email, @Address, @StudentType);

        DECLARE @NewStudentID INT = SCOPE_IDENTITY();

        DECLARE @YY VARCHAR(2) = '24'; 
        DECLARE @Middle VARCHAR(2) = '00'; 
        DECLARE @Sequence VARCHAR(4) = RIGHT('0000' + CAST(@NewStudentID AS VARCHAR(4)), 4);
        DECLARE @Suffix VARCHAR(7) = 'MAN0001'; 

        DECLARE @StudentNumber VARCHAR(30) = 'C' + @YY + '-' + @Middle + '-' + @Sequence + '-' + @Suffix;

        UPDATE TBL_Student
        SET StudentNumber = @StudentNumber
        WHERE StudentID = @NewStudentID;

        SELECT @NewStudentID AS StudentID, @StudentNumber AS StudentNumber;
    END

    -- Update existing student (FIXED - Added StudentType)
    ELSE IF @StatementType = 'UPDATE'
    BEGIN
        UPDATE TBL_Student
        SET FirstName = @FirstName, 
            LastName = @LastName, 
            MiddleName = @MiddleName, 
            Gender = @Gender, 
            BirthDate = @BirthDate,
            ContactNumber = @ContactNumber, 
            Email = @Email, 
            Address = @Address,
            StudentType = @StudentType 
        WHERE StudentID = @StudentID;

        SELECT @StudentID AS StudentID;
    END

    -- Get student by ID
    ELSE IF @StatementType = 'GETBYID'
    BEGIN
        SELECT * FROM TBL_Student WHERE StudentID = @StudentID;
    END

    -- Get all students
    ELSE IF @StatementType = 'GETALL'
    BEGIN
        SELECT * FROM TBL_Student;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_STUDENT_STATUS]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon
-- Create date: 4/30/26
-- Description:	Student status
-- =============================================
CREATE PROCEDURE [dbo].[SP_STUDENT_STATUS]
	  @ActionType VARCHAR(20),  -- APPROVE, REJECT
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- APPROVE STUDENT
    IF @ActionType = 'APPROVE'
    BEGIN
        UPDATE TBL_Student 
        SET Status = 'Approved'
        WHERE StudentID = @StudentID
    END

    -- REJECT STUDENT
    ELSE IF @ActionType = 'REJECT'
    BEGIN
        UPDATE TBL_Student 
        SET Status = 'Rejected'
        WHERE StudentID = @StudentID
    END
    
    -- Return the updated student
    SELECT 
        StudentID,
        StudentNumber,
        FirstName,
        LastName,
        MiddleName,
        Gender,
        BirthDate,
        ContactNumber,
        Email,
        Address,
        StudentType,
        Status,
        DateCreated
    FROM TBL_Student
    WHERE StudentID = @StudentID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_STUDENTDOCUMENTS]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon Villarin
-- Create date: 2-24-26
-- Description:	Student to Upload/Get
-- =============================================
CREATE PROCEDURE [dbo].[SP_STUDENTDOCUMENTS]
	-- Add the parameters for the stored procedure here
	@DocumentID INT = NULL,
    @StudentID INT = NULL,
    @DocumentType VARCHAR(50) = NULL,
    @FilePath VARCHAR(255) = NULL,
    @StatementType VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
 -- Upload document
    IF @StatementType = 'INSERT'
    BEGIN
        INSERT INTO TBL_StudentDocuments (StudentID, DocumentType, FilePath)
        VALUES (@StudentID, @DocumentType, @FilePath);

        SELECT SCOPE_IDENTITY() AS DocumentID;
    END

    -- Get documents by student
    ELSE IF @StatementType = 'GETBYSTUDENT'
    BEGIN
        SELECT * FROM TBL_StudentDocuments
        WHERE StudentID=@StudentID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_STUDENTLOGIN]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon Villarin
-- Create date: 2-21-26
-- Description:	Login & Register
-- =============================================
CREATE PROCEDURE [dbo].[SP_STUDENTLOGIN]
	-- Add the parameters for the stored procedure here
	@LoginID INT = NULL,
    @StudentID INT = NULL,
    @Username VARCHAR(30) = NULL,
    @PasswordHash VARCHAR(100) = NULL,
    @StatementType VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
-- Insert new login

    IF @StatementType = 'INSERT'
    BEGIN
        INSERT INTO TBL_StudentLogin (StudentID, Username, PasswordHash)
        VALUES (@StudentID, @Username, @PasswordHash);

        SELECT SCOPE_IDENTITY() AS LoginID;
    END

    -- Get login by username
    ELSE IF @StatementType = 'GETBYUSERNAME'
    BEGIN
        SELECT * FROM TBL_StudentLogin WHERE Username=@Username;
    END

    -- Get login by student ID
    ELSE IF @StatementType = 'GETBYSTUDENTID'
    BEGIN
        SELECT * FROM TBL_StudentLogin WHERE StudentID=@StudentID;
    END
      ELSE IF @StatementType = 'CHECKEXISTS'
    BEGIN
        SELECT COUNT(1) FROM TBL_StudentLogin WHERE StudentID = @StudentID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TrackApplicationStatus]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlota
-- Create date: 5/3/26
-- Description:	Tracker
-- =============================================
CREATE PROCEDURE [dbo].[SP_TrackApplicationStatus]
	      @SearchValue VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StudentID INT;
    
    -- Find Student ID
    IF ISNUMERIC(@SearchValue) = 1
        SELECT @StudentID = StudentID FROM TBL_Student WHERE StudentID = CAST(@SearchValue AS INT);
    ELSE
        SELECT @StudentID = StudentID FROM TBL_Student WHERE StudentNumber = @SearchValue;
    
    IF @StudentID IS NULL
    BEGIN
        SELECT '{"studentFound": false}' AS JsonResult;
        RETURN;
    END
    
    -- 1. Get Student Info
    DECLARE @StudentInfo NVARCHAR(MAX);
    SELECT @StudentInfo = (
        SELECT 
            StudentID,
            StudentNumber,
            FirstName,
            LastName,
            Status AS StudentInfoStatus
        FROM TBL_Student
        WHERE StudentID = @StudentID
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );
    
    -- 2. Get Enrollment (latest)
    DECLARE @Enrollment NVARCHAR(MAX);
    SELECT TOP 1 @Enrollment = (
        SELECT 
            Course,
            SchoolYear,
            Semester,
            EnrollmentStatus
        FROM TBL_Enrollment
        WHERE StudentID = @StudentID
        ORDER BY EnrollmentID DESC
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );
    
    -- =============================================
    -- 3. Get Documents Summary - FIXED to show Rejected
    -- =============================================
    DECLARE @Documents NVARCHAR(MAX);
    DECLARE @TotalDocs INT = 0;
    DECLARE @ApprovedDocs INT = 0;
    DECLARE @RejectedDocs INT = 0;
    DECLARE @PendingDocs INT = 0;
    DECLARE @DocStatus VARCHAR(20);

    SELECT 
        @TotalDocs = COUNT(*),
        @ApprovedDocs = SUM(CASE WHEN IsApproved = 1 THEN 1 ELSE 0 END),
        @RejectedDocs = SUM(CASE WHEN Status = 'Rejected' THEN 1 ELSE 0 END)
    FROM TBL_StudentDocuments
    WHERE StudentID = @StudentID;

    SET @PendingDocs = @TotalDocs - @ApprovedDocs - @RejectedDocs;

    -- Determine document status - PRIORITIZE REJECTED
    IF @RejectedDocs > 0
        SET @DocStatus = 'Rejected'    -- ← If ANY rejected, show Rejected
    ELSE IF @TotalDocs > 0 AND @TotalDocs = @ApprovedDocs
        SET @DocStatus = 'Approved'
    ELSE IF @ApprovedDocs > 0
        SET @DocStatus = 'Partial'
    ELSE
        SET @DocStatus = 'Pending'

    SET @Documents = CONCAT(
        '{"totalDocuments":', @TotalDocs, ',',
        '"approvedDocuments":', @ApprovedDocs, ',',
        '"rejectedDocuments":', @RejectedDocs, ',',
        '"pendingDocuments":', @PendingDocs, ',',
        '"status":"', @DocStatus, '"}'
    );
    
    -- 4. Get Payment (latest)
    DECLARE @Payment NVARCHAR(MAX);
    SELECT TOP 1 @Payment = (
        SELECT 
            Amount,
            PaymentStatus
        FROM TBL_Payments p
        INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
        WHERE e.StudentID = @StudentID
        ORDER BY p.PaymentID DESC
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );
    
    -- 5. Calculate Overall Status
    DECLARE @StudentInfoStatus VARCHAR(20);
    DECLARE @EnrollmentStatus VARCHAR(20);
    DECLARE @PaymentStatus VARCHAR(20);
    DECLARE @AllDocsApproved BIT = 0;
    DECLARE @IsFullyApproved BIT = 0;
    
    SELECT @StudentInfoStatus = Status FROM TBL_Student WHERE StudentID = @StudentID;
    
    SELECT TOP 1 @EnrollmentStatus = EnrollmentStatus 
    FROM TBL_Enrollment WHERE StudentID = @StudentID ORDER BY EnrollmentID DESC;
    
    SELECT TOP 1 @PaymentStatus = p.PaymentStatus
    FROM TBL_Payments p
    INNER JOIN TBL_Enrollment e ON p.EnrollmentID = e.EnrollmentID
    WHERE e.StudentID = @StudentID
    ORDER BY p.PaymentID DESC;
    
    IF @TotalDocs > 0 AND @TotalDocs = @ApprovedDocs
        SET @AllDocsApproved = 1;
    
    -- Check if fully approved (ALL requirements)
    IF @StudentInfoStatus = 'Approved' 
        AND @AllDocsApproved = 1
        AND (@EnrollmentStatus = 'Approved' OR @EnrollmentStatus = 'Enrolled')
        AND @PaymentStatus = 'Approved'
        SET @IsFullyApproved = 1;
    
    -- Build Overall Status JSON
    DECLARE @Overall NVARCHAR(MAX);
    SET @Overall = CONCAT(
        '{"studentInfoStatus":"', ISNULL(@StudentInfoStatus, 'Pending'), '",',
        '"allDocumentsApproved":', CASE WHEN @AllDocsApproved = 1 THEN 'true' ELSE 'false' END, ',',
        '"enrollmentStatus":"', ISNULL(@EnrollmentStatus, 'Pending'), '",',
        '"paymentStatus":"', ISNULL(@PaymentStatus, 'Pending'), '",',
        '"isFullyApproved":', CASE WHEN @IsFullyApproved = 1 THEN 'true' ELSE 'false' END, '}'
    );
    
    -- 6. Get Account (ONLY if fully approved)
    DECLARE @Account NVARCHAR(MAX) = 'null';
    IF @IsFullyApproved = 1
    BEGIN
        SELECT @Account = (
            SELECT 
                Username,
                'Password sent to your email. Please check your inbox.' AS Password
            FROM TBL_StudentLogin
            WHERE StudentID = @StudentID
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );  
        
        IF @Account IS NULL
        BEGIN
            SET @Account = '{"username":"Not yet created","password":"Please wait"}';
        END
    END
    
    -- 7. Build FINAL JSON RESPONSE
    DECLARE @FinalJson NVARCHAR(MAX);
    SET @FinalJson = CONCAT(
        '{',
        '"studentFound":true,',
        '"studentInfo":', ISNULL(@StudentInfo, 'null'), ',',
        '"enrollment":', ISNULL(@Enrollment, 'null'), ',',
        '"documents":', ISNULL(@Documents, 'null'), ',',
        '"payment":', ISNULL(@Payment, 'null'), ',',
        '"overall":', @Overall, ',',
        '"account":', @Account,
        '}'
    );
    
    SELECT @FinalJson AS JsonResult;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USERLOGIN]    Script Date: 09/06/2026 10:54:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marlon Villarin
-- Create date: 3/16/26
-- Description:	get user
-- =============================================
CREATE PROCEDURE [dbo].[SP_USERLOGIN]
	@UserID INT = NULL,
    @Username VARCHAR(100) = NULL,
    @PasswordHash VARCHAR(255) = NULL,
    @Role VARCHAR(50) = NULL,
    @StatementType VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
IF @StatementType = 'INSERT'
    BEGIN
        INSERT INTO TBL_UserLogin (Username, PasswordHash, Role)
        VALUES (@Username, @PasswordHash, @Role);

        -- Return the new UserID
        SELECT SCOPE_IDENTITY() AS UserID;
    END

    ELSE IF @StatementType = 'GETBYUSERNAME'
    BEGIN
        SELECT *
        FROM TBL_UserLogin
        WHERE Username = @Username;
    END
END
GO
USE [master]
GO
